Repository CEN3031-Group-3h/Sapphire-Project08-3h, pull requests merged in 2023-12, with the labels that each got.

#14 Feature/google classroom api backend routes
  client/src/Utils/GoogleAuthRequests.js
  client/src/Utils/googleRequests.js
  client/src/index.jsx
  client/src/views/Dashboard/Dashboard.jsx
  client/src/views/Mentor/Dashboard/Dashboard.jsx
  client/src/views/TeacherLogin/TeacherLogin.jsx
  server/plugins/google-auth-provider/controllers/google.js
  server/plugins/google-auth-provider/services/google.js
  server/plugins/google-classroom-api/.editorconfig
  server/plugins/google-classroom-api/.gitattributes
  server/plugins/google-classroom-api/.gitignore
  server/plugins/google-classroom-api/README.md
  server/plugins/google-classroom-api/admin/src/containers/App/index.js
  server/plugins/google-classroom-api/admin/src/containers/HomePage/index.js
  server/plugins/google-classroom-api/admin/src/containers/Initializer/index.js
  server/plugins/google-classroom-api/admin/src/index.js
  server/plugins/google-classroom-api/admin/src/lifecycles.js
  server/plugins/google-classroom-api/admin/src/pluginId.js
  server/plugins/google-classroom-api/admin/src/translations/ar.json
  server/plugins/google-classroom-api/admin/src/translations/cs.json
  server/plugins/google-classroom-api/admin/src/translations/de.json
  server/plugins/google-classroom-api/admin/src/translations/en.json
  server/plugins/google-classroom-api/admin/src/translations/es.json
  server/plugins/google-classroom-api/admin/src/translations/fr.json
  server/plugins/google-classroom-api/admin/src/translations/id.json
  server/plugins/google-classroom-api/admin/src/translations/index.js
  server/plugins/google-classroom-api/admin/src/translations/it.json
  server/plugins/google-classroom-api/admin/src/translations/ko.json
  server/plugins/google-classroom-api/admin/src/translations/ms.json
  server/plugins/google-classroom-api/admin/src/translations/nl.json
  server/plugins/google-classroom-api/admin/src/translations/pl.json
  server/plugins/google-classroom-api/admin/src/translations/pt-BR.json
  server/plugins/google-classroom-api/admin/src/translations/pt.json
  server/plugins/google-classroom-api/admin/src/translations/ru.json
  server/plugins/google-classroom-api/admin/src/translations/sk.json
  server/plugins/google-classroom-api/admin/src/translations/th.json
  server/plugins/google-classroom-api/admin/src/translations/tr.json
  server/plugins/google-classroom-api/admin/src/translations/uk.json
  server/plugins/google-classroom-api/admin/src/translations/vi.json
  server/plugins/google-classroom-api/admin/src/translations/zh-Hans.json
  server/plugins/google-classroom-api/admin/src/translations/zh.json
  server/plugins/google-classroom-api/admin/src/utils/getTrad.js
  server/plugins/google-classroom-api/config/routes.json
  server/plugins/google-classroom-api/controllers/classroom.js
  server/plugins/google-classroom-api/package.json
  server/plugins/google-classroom-api/services/classroom.js
Labels: documentation, front-end, back-end, authentication

#15 feature display google classroom list to add if no classes are added
  client/src/Utils/googleRequests.js
  client/src/views/Mentor/Dashboard/Dashboard.jsx
  client/src/views/TeacherLogin/TeacherLogin.jsx
  server/plugins/google-classroom-api/controllers/classroom.js
Labels: enhancement, front-end, google

#19 Feature/add classroom form
  client/src/views/Mentor/AddGoogleClassroomForm/AddGoogleClassroomForm.jsx
  client/src/views/Mentor/AddGoogleClassroomForm/AddGoogleClassroomForm.less
  client/src/views/TeacherLogin/TeacherLogin.jsx
  server/plugins/google-classroom-api/config/routes.json
  server/plugins/google-classroom-api/controllers/classroom.js
Labels: enhancement, front-end, google, back-end

#20 Feature/add students from google classroom
  client/src/views/Mentor/AddGoogleClassroomForm/AddGoogleClassroomForm.jsx
  server/api/classroom/documentation/1.0.0/classroom.json
  server/api/classroom/models/classroom.settings.json
  server/api/google-classroom/config/routes.json
  server/api/google-classroom/controllers/google-classroom.js
  server/api/google-classroom/documentation/1.0.0/google-classroom.json
  server/api/google-classroom/models/google-classroom.js
  server/api/google-classroom/models/google-classroom.settings.json
  server/api/google-classroom/services/google-classroom.js
  server/api/grade/documentation/1.0.0/grade.json
  server/api/mentor/documentation/1.0.0/mentor.json
  server/api/school/documentation/1.0.0/school.json
  server/api/selection/documentation/1.0.0/selection.json
  server/api/session/documentation/1.0.0/session.json
  server/api/student/documentation/1.0.0/student.json
  server/extensions/documentation/documentation/1.0.0/full_documentation.json
  server/plugins/google-classroom-api/controllers/classroom.js
  server/plugins/google-classroom-api/services/classroom.js
Labels: enhancement, google, back-end

#21 Assignment upload finished
  client/src/Utils/googleRequests.js
  client/src/views/Mentor/Classroom/Home/Home.jsx
  client/src/views/Mentor/GoogleClassroomAssignmentUpload/AssignmentUpload.jsx
  client/src/views/Mentor/GoogleClassroomAssignmentUpload/AssignmentUpload.less
  client/src/views/Mentor/GoogleClassroomAssignmentUpload/google_classroom_32x32_yellow_stroke_icon.png
  client/src/views/TeacherLogin/TeacherLogin.jsx
  server/plugins/google-classroom-api/config/routes.json
  server/plugins/google-classroom-api/controllers/classroom.js
Labels: enhancement, front-end, back-end

#22 fixed bugs and added success messages to upload assignments
  client/src/views/Mentor/AddGoogleClassroomForm/AddGoogleClassroomForm.jsx
  client/src/views/Mentor/GoogleClassroomAssignmentUpload/AssignmentUpload.jsx
  server/plugins/google-classroom-api/controllers/classroom.js
Labels: bug, enhancement, front-end, google, back-end
